<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Michael Houze">
    <meta name="description" content="Michael Houze, Application Developer">

    @Styles.Render("~/Bundles/css")
    @Styles.Render("~/Bundles/font")
</head>

<body>
    <div id="page_content" class="container-fluid">
        @RenderBody()
    </div>

    @Scripts.Render("~/Bundles/javascript")
</body>

</html>
